@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Righteous&family=Spartan:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    background: #000304;
    display: block;
    min-width: 320px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    padding-left: 10rem;
    overflow-y: scroll;
    overflow-x: hidden;

}


menu {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.main-menu {
    width: 10rem;
    background-color: #181818;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    z-index: 3;
    align-items: center;
    padding: 0;
    margin: 0;
}

.main-menu_top {
    background-color: #000000;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    /* border: 2px solid red; */
    /* margin: 0; */
}

.logo {
    display: flex;
    flex-direction: column;
    font-size: 5rem;
    align-items: center;
    text-decoration: none;
}

.logo>span {
    font-family: 'Spartan', sans-serif;
    align-items: center;
    font-size: 5rem;
    color: white;
    padding: 0;
    margin: 0;
}

.logo_name {
    font-size: 1rem !important;
    position: absolute;
    top: 6.5rem;
}

.logo_skill {
    font-size: 0.55rem !important;
    position: absolute;
    color: #8d8d8d !important;
    top: 8rem;
}

.latter_m {
    color: #F20587 !important;
    text-shadow: -5px 0px #07f2c7 !important;

}

.main-menu__top>span {
    font-family: 'Open Sans';
    color: #a5a5a5;
    font-size: 1rem;
    margin-top: 1rem;
    align-items: center;
}

.main-menu_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* margin: 2rem 0; */
    border-bottom: 1px solid #383838;
    border-left: 0;
    border-right: 0;
}

.main-menu_nav>a {
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    /* border-top: 0.5px solid gray; */
    text-align: center;
    width: 100%;
    display: block;
    color: #909096;
    line-height: 4.3rem;
    border-top: 1px solid #383838;
    /* border-bottom: 1px solid #383838; */
}

.page_outere {
    min-height: 100vh;
    position: relative;
}

.tags {
    color: #666666bd;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2rem;
    font-style: italic;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    /* margin-top: 2.5rem; */
}

.top_tags {
    bottom: auto;
    top: 2rem;
}

.top_tags::after {
    content: '<body>';
    color: #666666bd;
    font: 18px;
    margin: 1rem;

}

.social {
    list-style: none;
    display: flex;
}

.social>li {
    margin: 0.3rem;
}


#section_home {

    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-image: url(img/PicsArt_01-09-01.29.59.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    /* background-color: #000304; */
    background-position: right bottom;
    background-size: 56%;
}



h1 {
    line-height: 4.3rem;
}

h1>.blast {
    color: #e3e6f3;
    font-size: 6rem;
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    text-shadow: 2px 2px #011C40;
    display: inline-block;
    font-weight: 700;
    padding: 0px;
    margin: 0px -10px;
    /* opacity: 0; */
    display: inline-block;
    transition: all 0.3s ease-out;

}

.blast_3 {
    padding: 36px !important;
    margin: -40px !important;
    font-size: 3.5rem !important;
    /* font-family: 'Righteous', cursive; */
    font-family: 'Spartan', sans-serif;

}

#text {
    position: relative;
    margin-top: 100px;
    text-align: center;
}



.blast {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    /* position: absolute; */
}

.blast:hover {
    color: #07f2c7;
    animation: rubberBand 0.8s infinite;
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

h1::before {
    content: '<h1>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    margin-top: -4rem;
    left: 3rem;
}

h1::after {
    content: '<h1/>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 1.8rem;
    /* left: 2.5rem; */
}

.gray_text {
    font-size: 1rem;
    letter-spacing: 4px;
    margin: 2rem 0rem;
    display: block;
    color: #8d8d8d;
}

.gray_text::before {
    content: '<p>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    position: absolute;
    margin-top: -1.8rem;
    left: 0rem;
}

.gray_text::after {
    /* border: 1px solid red; */
    content: '<p/>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    position: absolute;
    margin-top: 1.5rem;
    left: 2rem;
}

.flat_button {
    text-decoration: none;
    color: #07f2c7;
    font-size: 1.2rem;
    letter-spacing: 4px;
    font-weight: 700;
    /* position: absolute;
    margin-top: 2rem;*/
    padding: 0.4rem 1.8rem;
    border: 1px solid #07f2c7;
}

.flat_button:hover {
    color: #1d1d1d !important;
    background-color: #07f2c7 !important;
    transition: all 0.7s ease-out;
}

.text_zone {
    position: relative;
    padding-left: 4rem;
    /* margin-top: 5rem; */

}

/* .flat_button::after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #08fdd8;
    position: absolute;

    transition: 0.3s ease-out all;
    z-index: 5;
} */

.scroll_down {
    position: absolute;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.527);
    font-weight: 100;
    bottom: 0;
    left: 0.5rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-bottom: 1rem;
    animation: animate 1s infinite;

}

.scroll_down--left {
    right: 0.5rem;
}




@keyframes animate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

#section_project {
    position: relative;
    overflow: hidden;
    /* position: absolute; */
    display: flex;
    align-items: center;
    /* padding: 6rem  4rem !important; */
}

.fake_big {

    font-family: 'Spartan', sans-serif;
    position: absolute;
    top: 46rem;
    left: 26vw;
    font-size: 29rem;
    color: rgba(255, 255, 255, 0.04);
}

#section_project .fake_big {
    top: 46rem;
    left: 26vw;
    font-size: 29rem;
}

h2 {
    /* padding-left: 2rem; */
    display: block;
    width: 100%;
}

ol, ul {
    padding-left: 0rem !important;
}

h2>.blast {
    color: #08fdd8;
    font-weight: 600;
    margin-top: 0;
    position: relative;
    margin-bottom: 40px;
    /* left: -10px; */
    font-size: 4.3rem;
    line-height: 2.7rem;
    padding: 0px;
    margin: 1rem -6px;
    display: inline-block;
}

h2::before {
    content: '<h2>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    margin-top: -1rem;
    left: 2rem;
}

h2::after {
    content: '<h2/>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    font-weight: 100;
    position: absolute;
    left: 2rem;
    margin-top: 4.5rem;
}

#section_project>.text_zone {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 6rem 4rem !important;

}

#section_project .text_zone>div:first-child {
    max-width: 800px;
}

#section_project .text_zone>div:last-child {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}


.text_zone>div>p {
    margin-top: 2.5rem;
    font-size: 1rem
}

.text_zone>div>p>a {
    color: #08fdd8;
    text-decoration: none;
}

.text_zone p::before {
    content: '<p>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1rem;
    left: 2rem;
}

.text_zone p:first-of-type:after {
    content: '<p>';
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 1rem;
    left: 2rem;
}



.card {
    height: 20rem;
    width: 33%;
    /* margin: 2rem; */
    border-top: 0.1rem solid #F20587;
    border-left: 0.1rem solid #F20587;
    /* border-bottom:0.1rem solid#07f2c7 ; */
    border-right: 0.1rem solid #07f2c7;
    background-color: black;


}

.project_wall::before {
    content: '<section>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    font-weight: 100;
    /* position: absolute;
    top: 0; */
}

.project_wall::after {
    content: '<section>';
    font-style: italic;
    font-family: 'La Belle Aurore', cursive;
    color: #666666bd;
    font-size: 18px;
    font-weight: 100;
}

#section_about {

    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;


}

#section_about>.text_zone {
    margin-top: -7rem;
    width: 100%;
    padding-left: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#section_about .text_zone>div:first-child {
    max-width: 35%;
}


#section_about .fake_big {
    position: absolute;
    top: 19rem;
    left: -22vw;
    ;
}

#section_contact {
    height: 100vh;
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
}

#section_contact>.text_zone {
    margin-top: -13rem;
}

#section_contact>.text_zone>p {
    margin-top: 2.5rem;
    font-size: 1rem
}

@media only screen and (max-width: 1270px) {
    h1>.blast {
        font-size: 5rem;
    }
}